<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Tinkor Software <a href="https://tinkor.com" title="tinkor"> tinkor.com</a></p>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11257222; 
var sc_invisible=0; 
var sc_security="8dd79e59"; 
var sc_text=2;
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="website
statistics" href="http://statcounter.com/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11257222/0/8dd79e59/0/"
alt="website statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</footer>